#nav {
  width:75px;
  height:100vh;
  position:absolute;
  top:0;
  left:0;
  bottom:40px;
  z-index:100;
  background:#252839;
  color:#fff;
  overflow:hidden;
  white-space:nowrap;
  font-family: "arial black";
  font-size: 27px;
}

#nav ul {
  margin:0;
  padding:0;
  width:200px;
  margin-top:10px;
  list-style:none;

}

#nav ul li {
	font-family: "arial black";
}

#nav ul li span {
	float: left;
	width: 75px;
  text-align: center;
  white-space:nowrap;
  padding: 0px;
}

#nav a {
  color:#fff;
  text-decoration:none;
}

#main {
  float: left;
  height: 100%;
  width: 100%;
  position:absolute;
  left: 0px;
  padding-left: 0%;
  background-color: #252839;
}

body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
}

.clear-fix {
  overflow: auto;
}

#header {
  background-color: #b5b5b7;
  width: 100%;
  padding-left: 0px;

}

#lets-connect,
#name {
  padding: 5px 0 5px 25%;
  color: #fff;
  background-color: #f2b632;
  color: #252839;
  white-space: nowrap;
}

#education,
#workExperience,
#projects,
#skills,
#contacts,
#top-gap,
#bottom-gap {
  padding-left: 75px;
}

.description-list {
  list-style : square;
  padding-left : 20px;
  font-size : 14px;
  font-family: "Roboto", sans-serif;
  color: #262216;
}

#top-gap,
#bottom-gap {
  height: 20px;
  background-color: #252839;
}


.category-title {
  background-color: #252839;
  color: #fff;
  padding-left: 75px;
  white-space: nowrap;
  overflow:hidden;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 3px 7px 6px 25%;
}

#skills-list,
#contact-list {
  padding-left: 25%;
  padding-bottom: 10px;
}

h1 {
  font-size: 40px;
  line-height: 48px;
  overflow:hidden;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  padding-left: 0px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h3,
h4,
h5 {
  padding:5px 3% 2px 5px;

}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #262216;
  line-height: 16px;
  float: right;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #262216;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #262216;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 0px;
  display: block;
  white-space: nowrap;
}

.name-text {
  font-weight: bold;
  font-size: 18px;
  color: #1199c3;
}

.position-text,
.degree-text {
  font-weight: bold;
  font-size: 14px;
  padding: 3px 0 3px 0;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

#skills-h3 {
  color: #f5ae23;
  display: none;
}

.orange {
  background-color: #f5ae23;
}

.orange-text {
  color: #f5ae23;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.skill-text,
.contact-text {
  font-size: 14px;
  font-weight: bold;
  color: #4a4a4a;
}

.contact-icon,
.skill-icon {
  padding: 0px 3px 0 0;
  position:relative;
  top: 6px;
  height: 24px;
}

.gray {
  background-color: #b5b5b7;
}

.dark-gray {
  background-color: #677077;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px 15px 5px 0px;
}

.flex-item {
  vertical-align: middle;
}

.center-content {
  padding: 6% 0px 1.5% 0%;
}

ul {
  list-style-type: none;
}

img {
  padding: 0px;
}

span {
  padding: 5px;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    /*margin-top: 5%;*/
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    /*margin-top: 10%;*/
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}
